<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Farmer</title>
</head>
<body>
    <div align="center">
        <h1>Edit Farmer</h1>
        <br />
        <form action="#" th:action="@{/updateFarmer}" th:object="${farmer}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>Farmer ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td> Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" />
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}" /></td>
                </tr>
                                     
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>